.header {
    height: 116px;
    display: flex;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__title {
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: $color-main-dark;
}

.header__buttons {
    display: flex;
    gap: 40px;
}