// Colors
$color-white: #ffffff;
$color-main-dark: #1C2A39;
$color-grey: #5C6A79;
$color-light-grey: #EFEEF6;
$color-red: #FF353A;
$color-purple: #9E98DC;
$color-main-purple: #756AD3;
$color-dark-purple: #4C3DB2;
$color-light-purple: #d7d3f3;

// Fonts
$open-sans: "Open Sans", sans-serif;